.gird-container {
  display: grid;
  grid-template-rows: 30vh 30vh;

  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  justify-items: center;
  text-align: center;
  align-items: stretch;
}

.gird-container>div {
  background-color: white;
  justify-items: center;
  color: black;
  border: 1px solid lightgray;
  border-radius: 10px;

}

.gird-container>div:nth-child(3) {
  border: 0px;
}

fontdiv {
  font-size: 1.3em;
}

#div {}

.footer {
  margin-top: 460px;
  margin-left: 80px;
  font-size: 18px;
}